* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'DM Sans', sans-serif;
}
.body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "section1 section1 section1 section1"
        "section2 section2 section2 section2"
        "section3 section3 section3 section3"
        "section4 section4 section4 section4"
        "footer footer footer footer";
}
/* COMIENZO NAV */

.nav-main {
    background-color: white;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0px 30px;
  }
.nav-brand {
    width: 120px;
    grid-area: logo;
  }

.nav-main ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    grid-area: nav;
  }
.nav-main ul li {
    padding: 20px;
    font-weight: 700;
  }
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
  }
.btn-modal:hover {
        opacity: 0.9;
    }
.btn-modal{
        color: white;
        padding: 5px 25px;
        background: #5227CC;
        border-radius:50px ;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        grid-area: login;
    }

/* COMIENZO MODAL */

.modal-image img{
    width: 300px;
    height: 300px;
}
.modal-close{
    width: 300px;
    height: 300px;
}

.modal-container{
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #DC3545;
    color: white;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    }

.modal-options{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.modal-radius{
    display: flex; 
    flex-direction: row;
    border-radius: 10px;
    position: relative;
    
}
.modal-options h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.business{
    text-align: center;
}

.organization{
    text-align: center;
}

.goback a{
    text-decoration: none;
    color: black;
}


/* FIN MODAL */

/*FIN NAV */

/* COMIENZO HEADER */
  
.header {
    width: 100%;
    height: 50vh;
    background: url("images/manos.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
.header h1{
    font-size: 35px;
        }
.header h1,     
.header p {
    margin-bottom: 10px;
}
 
/* FIN HEADER */

/* COMIENZO SECCION NOSOTROS */

.us, .newsletter{
    background: #5298FF;
}
.us{
    position: relative;
    display: flex;
    justify-content: center;
}

.block-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 30px;
}
.block-1, .block-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text1, .text2{
    color: white;
    font-size: 15px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    } 

.us p{
    padding: 35px;
}

.us h2{
    font-size: 25px
}
.office, .volunteer{
    height: 300px;
    width: 100%;
    max-width: 450px;
    object-fit: cover;
}

/* FIN SECCION NOSOTROS */

/* COMIENZO OPORTUNIDADES */

.text-opportunities{
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding: 40px;
}
.text-opportunities h3{
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.text-opportunities p{
    text-align: center;
}
.icons{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    object-fit: cover;
}

.icon-add{
    width: 40px;
    height: 40px;
    display: flex;
}
.opportunity-1{
    width: 250px;
    height: 250px;
    color: white;
    background-color:#DC3545;
    border-radius: 15px;
}
.opportunity-2{
    width: 250px;
    height: 250px;
    color: white;
    background-color: #FF9C07;
    border-radius: 15px;
}
.opportunity-3{
    width: 250px;
    height: 250px;
    color: white;
    background-color: #28A745;
    border-radius: 15px;
}
.opportunity-4{
    width: 250px;
    height: 250px;
    color: white;
    background-color: #17A2BB;
    border-radius: 15px;
}
.oportunities-container{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}


/* FIN OPORTUNIDADES */

/* COMIENZO NOTICIAS */

.newsletter{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.newsletter h3{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}
.newsletter a{
    color: white;
    font-size: 15px;
    text-align: center;
}

.news-cards div{
    background-color: white;
    border-radius: 5px;
}
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 70px;
    overflow: auto;
  }
  
.news-cards img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

.icons img{
    width: 20px;
    height: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:px;
}
.icon-1, .icon-2{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.news-cards h3 {
      font-size: 20px;
      margin: 10px 0;
    }
    
.news-cards a {
        padding: 10px 0;
        color:black;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

.image{
    position: relative;
}

.btn-news-card{
        color: white;
        padding: 2px 5px;
        background: #7749F8;
        border-radius: 50px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 10px;
        border: #7749F8;
    }

.arrow img{
        width: 20px;
        height: 20px;
}

.arrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
}

.arrow img, .arrow a{
    padding: 3px;
}

.news-card1, .news-card2, .news-card3, .news-card4{
    border-radius: 10px;
}
    
/* FIN NOTICIAS */

/* COMIENZO CONTACTO */

.contact-container{
    height: 550px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact h3{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    
}
.laptop{
    width: 400px;
    height: 200px;
}

.laptop-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: laptop;
}

.forms-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-area: forms-container;

}
.form-1, .form-2{
    padding: 10px;
}

.mesaje-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: mesaje-container;
}

.box-mesaje{
    width: 250px;
    height: 100px;
}
.input-1, .input-2, .box-mesaje{
    border-radius: 5px;
}
.send-btn{
    color: white;
    background: #5227CC;
    border-radius: 15px;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    padding: 5px 20px;
}

/* FIN CONTACTO  */

/* COMIENZO FOOTER */

.logo-footer{
    height: 30px;
    width: 130px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.footer{
    background: #5227CC;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    height: 10%;
    padding: 25px;
    } 

.footer-links li{
        text-decoration: none;
        display: block;
        padding: 3px 0px;
        font-size: 500;
    }

.footer-links{
        padding-left: 25px;
    }

/* FIN FOOTER */

/* MEDIA QUERY  */

 @media (max-width: 844px){

    .nav-main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo login"
        "nav nav";
            }
    
    .oportunities-container{
    display: flex;
    flex-direction:column;
}

    .opportunity-1, .opportunity-2,
    .opportunity-3, .opportunity-4{
        margin: 20px;
    }

    .newsletter{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .contact-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "laptop"
    "forms-container"
    "mesaje-container";
        }

    }  